# dependencies
node_modules/

# environment variables
.env
.env.production

# generated types
.astro/

# build output
webapp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store
