---
import ProjectCard from "./ProjectCard.astro";
import ExperienceCard from "./ExperienceCard.astro";
import HorizontalRule from "../Html/HorizontalRule.astro";
import type { Project } from "./Project";
import type { Experience } from "./Experience";
import projectsYaml from "./projects.yml";
import workexpYaml from "./work-experience.yml";
import "./experience.tw.css";
const projects = projectsYaml as { [key: string]: Project };
const workexp = workexpYaml as Experience[];
---

<main class="projects view">
  <section class="projects-intro">
    <h4>Projects</h4>
    <p>
      A list of stuff I've worked on and contributed to till date. I personally
      attempt to use a different set of technologies for each individual
      project. Each new project presents the opportunity to push limits
      creatively and technically.
    </p>
  </section>
  <HorizontalRule />
  <section class="work-exp">
    <h4>Work Experience</h4>
    <p>
      A brief overview of my professional experience. I've worked with a variety
      of companies and clients, and have had the opportunity to contribute to a
      wide range of projects.
    </p>
    <div class="work-exp-timeline">
      {workexp.map((exp) => <ExperienceCard exp={exp} />)}
    </div>
  </section>
  <HorizontalRule />
  <section class="personal-projects"></section>
  <section class="project-articles">
    {
      Object.entries(projects).map(
        ([_, p]) => p.enabled && <ProjectCard {...p} />
      )
    }
  </section>
  <section class="competitions"></section>
</main>
