@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.projects-intro {
  @include xy-cell(6);
  @include xy-cell-offset(3);
  text-align: center;
}
.hrule {
  @include hrule;
  margin: 2rem;
}
.work-exp {
  @include xy-cell;
  h4,
  p {
    text-align: center;
  }
}
.work-exp-timeline {
  @include flex-wrap-center;
  gap: 1rem;
}
.work-exp-card {
  @include card-z;
  width: calc(100% / 2 - 2rem);
  padding: 1rem;
  display: grid;
  grid:
    "icon comp date" 1fr
    "icon proj posn" 1fr
    "icon desc desc" 1fr
    / 1fr 6fr 5fr;
  .company-icons {
    grid-area: icon;
    display: flex;
    flex-direction: column;
  }
  .company {
    grid-area: comp;
    font-weight: bold;
  }
  .position {
    grid-area: posn;
  }
  .date {
    grid-area: date;
  }
  .project {
    grid-area: proj;
  }
  .description {
    grid-area: desc;
  }
}
.project-articles {
  @include xy-cell;
  margin-top: 10px;
}
.project-grid {
  @include flex-wrap-center;
  gap: 1.5rem;
}
.project-card {
  @include card-z;
  width: calc(100% / 2 - 3rem);
  display: grid;
  grid:
    "icon url url url" 1fr
    "icon syn syn syn" 1fr
    "year tech tech ." 1fr
    / 1.5fr 8fr 2fr;
  margin-bottom: 10px;
  .icons8-icon {
    grid-area: icon;
    padding: 1rem;
    text-align: center;
  }
  .project-url {
    grid-area: url;
    font-weight: bold;
    padding-top: 1rem;
  }
  .synopsis {
    grid-area: syn;
  }
  .tech {
    grid-area: tech;
  }
  .year {
    grid-area: year;
    text-align: center;
  }
}
