@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
@import "../../assets/styles/theme.tw.css";
@import "../../assets/styles/utilities.tw.css";

.projects {
  @apply flex flex-col justify-evenly items-center;
}
.projects-intro {
  @apply max-w-[1100px] text-center p-4;
}
.work-exp,
.acad-projects {
  @apply p-4;
  h1,
  p {
    @apply text-center;
  }
}
.work-exp-timeline {
  @apply flex flex-wrap justify-center gap-4;
  > * {
    @apply basis-[535px]; /* TODO @media */
  }
}
.work-exp-card,
.project-card {
  @apply card-z grid p-4 transform duration-200 hover:scale-102;
}
.work-exp-card {
  grid:
    "icon comp comp comp date" 1fr
    "icon posn posn proj proj" 0.5fr
    "icon locn locn . ." 0.5fr
    "icon desc desc desc desc" 1fr
    / 1fr 4fr 2fr 3fr 4fr;
  .company-icons {
    @apply flex flex-col justify-evenly pr-2 area-[icon];
  }
  .company {
    @apply font-bold area-[comp];
  }
  .position {
    @apply area-[posn];
  }
  .date {
    @apply area-[date] text-right;
  }
  .project {
    @apply area-[proj] text-right;
  }
  .location {
    @apply area-[locn];
  }
  .position,
  .date,
  .project,
  .location,
  .description {
    @apply supress;
  }
  .description {
    grid-area: desc;
  }
}
.acad-proj-list {
  @apply flex flex-wrap justify-center gap-4 mt-2.5;
  > * {
    @apply basis-[535px]; /* TODO @media */
  }
}
.project-card {
  grid:
    "icon url url year" 1fr
    "icon syn syn syn" 0.5fr
    "icon tech tech ." 0.5fr
    / 1.5fr 8fr 2fr;
  .icons8-icon {
    @apply text-center area-[icon];
  }
  .project-url {
    @apply font-bold area-[url];
  }
  .synopsis {
    @apply area-[syn];
  }
  .tech {
    @apply area-[tech];
  }
  .year {
    @apply text-center area-[year];
  }
  .synopsis,
  .tech,
  .year {
    @apply supress;
  }
}
