@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.projects-intro {
  @include xy-cell(6);
  @include xy-cell-offset(3);
  text-align: center;
}
.hrule {
  @include hrule;
}
.project-articles {
  @include xy-cell;
  margin-top: 10px;
}
.project-grid {
  @include flex-wrap-center;
  gap: 1.5rem;
}
.project-card {
  @include card-z;
  width: calc(100% / 2 - 3rem);
  display: grid;
  grid:
    "icon url url url" 1fr
    "icon syn syn syn" 1fr
    "year tech tech ." 1fr
    / 1.5fr 8fr 2fr;
  margin-bottom: 10px;
  .icons8-icon {
    grid-area: icon;
    padding: 1rem;
    text-align: center;
  }
  .project-url {
    grid-area: url;
    font-weight: bold;
    padding-top: 1rem;
  }
  .synopsis {
    grid-area: syn;
  }
  .tech {
    grid-area: tech;
  }
  .year {
    grid-area: year;
    text-align: center;
  }
}
