// MIXINS
@import "foundation-sites/scss/xy-grid/xy-grid";

@mixin outline {
  outline: 0.5px solid white;
}

$outline-color: #4d575f;
@mixin theme-outline {
  outline: 0.5px solid $outline-color;
}

@mixin card-z {
  @include theme-outline;
  background-color: rgba($color: black, $alpha: 0.4);
  border-radius: 1rem;
}

@mixin hrule {
  height: 0.5px;
  width: 100%;
  @include theme-outline;
}

@mixin circle-image {
  border-radius: 50%;
}

@mixin circle-image-with($size: 1rem) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin c($size: 12, $offset: 0) {
  @include xy-cell($size);
  @include xy-cell-offset($offset);
}
