//
// FOUNDATION SETTINGS OVERRIDE
//
// @import "foundation/functions";
@import "foundation-sites/scss/util/util";

// 1. Global
// ---------
$body-background: rgb(15, 23, 42);
$body-font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, 'Liberation Sans', 'DejaVu Sans', Freesans, sans-serif;
$body-font-color: $white;
// 4. Base Typography
// ------------------
$header-font-family: $body-font-family;
$header-font-weight: 500;
// 55. Top Bar
// -----------
$topbar-padding: 0.2rem;
$topbar-background: rgb(15, 23, 42);

// $rem-base: 16px;

$include-open-sans: false;

$include-html-classes: false;

$paragraph-font-size: rem-calc(14);