// --- Dependencies ---
@import "includes/zf-dependencies";
// --- Application Settings ---
@import "full-settings";
@import "settings";
// --- Components ---
@import "includes/zf-components";
// --- HTML Class Generation ---
@import "includes/zf-html-classes";
@import "base";

// https://cssgrid-generator.netlify.app/
// http://igalia.github.io/css-grid-layout/index.html

body {
  @include xy-grid-container(100%);
  padding: 0 !important;
  background: url("/assets/images/cover/shapes.jpg") center center/cover;
  > section {
    @include xy-grid;
  }
}
header,
main,
footer {
  @include xy-cell($gutter-type: none);
}
nav.site-header-nav {
  display: grid;
  grid: 1fr / repeat(7, 1fr);
}
.site-page {
  color: white;
  text-align: center;
  padding: 15px 0;
  background: $body-background;
}
.view {
  @include xy-grid;
  min-height: 86vh;
}
.pane {
  text-align: center;
}
footer {
  background: $body-background;
  padding: 10px;
  text-align: center;
  font-size: rem-calc(14);
  line-height: 120%;
}
