@use "sass:color";
// --- Dependencies ---
@import "includes/zf-dependencies";
// --- Application Settings ---
@import "full-settings";
@import "settings";
// --- Components & HTML Class Generation ---
@import "includes/zf-components";
@import "includes/zf-html-classes";
@import "base";

// https://cssgrid-generator.netlify.app/
// http://igalia.github.io/css-grid-layout/index.html
// #87ab63 - Emerald Color

body {
  @include flex-column-center;
  align-items: stretch;
  padding: 0 !important;
  background: url("/assets/images/cover/starry.webp") center center/cover;
}
header,
main,
footer {
  @include theme-outline;
}
nav.site-header-nav {
  display: flex;
  // grid: 1fr / repeat(6, 1fr);
  justify-content: space-evenly;
  > a {
    color: white;
    text-align: center;
    padding: 1rem 0;
    // background: $body-background;
    font-size: rem-calc(12);
    height: 3rem;
    text-transform: uppercase;
  }
  > a[data-active="true"] {
    color: $theme-primary;
  }
  > a:hover {
    color: $theme-primary;
  }
  .name {
    @media (max-width: 500px) {
      display: none;
    }
  }
  .icon {
    @media (min-width: 500px) {
      display: none;
    }
  }
}
.view {
  min-height: 87.5vh;
  padding: rem-calc(15) 0;
  @media (max-width: 768px) {
    min-height: 84vh;
  }
}
.hrule {
  @include hrule;
}
footer {
  background: $body-background;
  padding: rem-calc(10);
  text-align: center;
  font-size: rem-calc(14);
  line-height: 120%;
}
