// --- Dependencies ---
@import "includes/zf-dependencies";
// --- Application Settings ---
@import "full-settings";
@import "settings";
// --- Components ---
@import "includes/zf-components";
// --- HTML Class Generation ---
@import "includes/zf-html-classes";
@import "base";

// https://cssgrid-generator.netlify.app/
// http://igalia.github.io/css-grid-layout/index.html

body {
  @include flex-column-center;
  align-items: stretch;
  padding: 0 !important;
  background: url("/assets/images/cover/starry.webp") center center/cover;
}
header,
main,
footer {
  @include theme-outline;
}
nav.site-header-nav {
  display: grid;
  grid: 1fr / repeat(6, 1fr);
  > a {
    color: white;
    text-align: center;
    padding: rem-calc(15) 0;
    background: $body-background;
  }
  .name {
    @media (max-width: 500px) {
      display: none;
    }
  }
  .icon {
    @media (min-width: 500px) {
      display: none;
    }
  }
}
.view {
  min-height: 86vh;
  padding: rem-calc(15) 0;
}
.hrule {
  @include hrule;
}
footer {
  background: $body-background;
  padding: rem-calc(10);
  text-align: center;
  font-size: rem-calc(14);
  line-height: 120%;
}
