---
const { interest } = Astro.props;
---

<div class="interest-card">
  <h4>{interest.title}</h4>
  <p>{interest.excerpt}</p>
  <!-- <IconPane itemtype={interest.id} items={interest.icons} /> -->
</div>
