---
import contacts from "../data/contacts.json";
import Icons8 from "../icons/icons8/Icons8.astro";

const { classnames } = Astro.props;
---

<div class={classnames}>
  {
    contacts.map(({ name, profile, icon }) => (
      <Icons8 iconName={icon} link={profile} site={name} />
    ))
  }
</div>
