---
import contacts from "../data/contacts.json";

const { classnames } = Astro.props;
---

<div class={classnames}>
  {
    Object.entries(contacts).map(([site, url]) => (
      <a href={url} class={`webicon large ${site.toLowerCase()}`}>
        {site}
      </a>
    ))
  }
</div>
