@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.intro-statement {
  @include xy-cell(6);
  @include xy-cell-offset(3);
  margin-top: 2rem;
}
.intro-lines {
  display: grid;
  grid-template:
    ". pic ." 0.5fr
    "name name name" 0.5fr
    "desg intr locn" 0.25fr
    / 1fr 1fr 1fr;
  & > * {
    text-align: center;
  }
}
.display-pic {
  grid-area: pic;
  padding: 0 15%;
  img {
    @include circle-image;
  }
}
.full-name {
  grid-area: name;
  font-size: 6rem;
}
.designation {
  grid-area: desg;
}
.interests {
  grid-area: intr;
}
.location {
  grid-area: locn;
}
.home-social {
  @include xy-cell;
  text-align: center;
}
