@use "$styles/base" as *;

.home {
  @include flex-column-evenly;
}
.intro-statement {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  > div {
    flex-basis: 800px; // TODO: @media
  }
}
.intro-lines {
  display: grid;
  grid:
    ". dpic ." 0.5fr
    "name name name" 0.5fr
    "desg intr locn" 0.25fr
    / 1fr 1fr 1fr;
  & > * {
    text-align: center;
  }
}
.display-pic {
  grid-area: dpic;
  padding: 0 15%;
  img {
    @include circle-image;
  }
}
.full-name {
  grid-area: name;
  font-size: 6rem;
  @media(max-width: 768px) {
    font-size: 4rem;
  }
  @media(max-width: 512px) {
    font-size: 3rem;
  }
}
.designation {
  grid-area: desg;
}
.interests {
  grid-area: intr;
}
.location {
  grid-area: locn;
}
.home-social {
  display: flex;
  justify-content: center;
}
