---
import Social from "../Shared/Social.astro";
import photo from "$images/MyPhoto.jpg";

import "./home.tw.css";
---

<main class="home view">
  <section class="intro-statement">
    <div class="intro-lines">
      <span class="display-pic">
        <img src={photo.src} alt="Profile Picture" />
      </span>
      <span class="full-name">ABHRA BASAK</span>
      <span class="designation">Full-Stack Developer</span>
      <span class="location">🇺🇸 Seattle Area, WA</span>
      <!-- 🇮🇳 Hyderabad, TS -->
      <span class="interests">Insights | Cloud | AI | UX | Search</span>
    </div>
  </section>
  <section class="home-social">
    <Social classnames="social-icons" />
  </section>
</main>
