---
import Social from "../Shared/Social.astro";
import photo from "$images/MyPhoto.jpg";

import "./home.scss";
import "$styles/webicons.scss";
---

<main class="home view">
  <section class="intro-card">
    <div class="intro-card-grid">
      <div class="display-pic">
        <img src={photo.src} alt="Profile Picture" />
      </div>
      <div class="statement">
        <h1>ABHRA BASAK</h1>
        <p>
          Full-Stack Developer<br />
          🇺🇸 Seattle Area, WA<br />
          <!-- 🇮🇳 Hyderabad, TS <br /> -->
          Microsoft Corporation
        </p>
      </div>
    </div>
  </section>
  <section class="home-social">
    <Social classnames="social-icons" />
  </section>
</main>
