---
import { type Provider, csByArea } from "./Certification.ts";
import { dataMap } from "@library/collections.ts";
import cAreas from "./cert-areas.yml";
import Icons8 from "@icons/icons8/Icons8.astro";

const cs = await dataMap<Provider>("certifications");
const csArea = csByArea(cs, cAreas);
---

<section class="certifications">
  <h2>Certifications</h2>
  <article class="cert-area-list">
    {
      Object.entries(csArea).map(([area, certs]) => (
        <article class="cert-area">
          <h3>{cAreas[area].name}</h3>
          <span class="cert-list">
            {certs.map(({ icon, verify, name }) => (
              <Icons8 iconName={icon} link={verify} site={name} />
            ))}
          </span>
        </article>
      ))
    }
  </article>
</section>
