@import "$styles/full-settings";
@import "$styles/settings";
@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "foundation-sites/scss/components/progress-bar";
@import "foundation-sites/scss/components/label";
@import "$styles/base";

@include foundation-progress-bar;
@include foundation-label;

.skills-intro {
  @include xy-cell;
  text-align: center;
}
.skills-categories {
  @include xy-cell;
}
.categories-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.domain-card {
  background-color: rgba($color: black, $alpha: 0.1);
  h4 {
    text-align: center;
  }
}
.domain-icons {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  > a {
    padding: 5px;
  }
}
