---
import SkillDomain from "./SkillDomain.astro";
import Icons8 from "../../icons/icons8/Icons8.astro";

import "./expertise.scss";
import "$styles/webicons.scss";
import code from "./code.json";
import domains from "./dev-skills.json";
---

<main class="code view">
  <section class="skills-intro">
    <h4>Skills and Experience</h4>
    <p>
      An overview of my software development skills. My development
      portfolio has code samples.
    </p>
    <div class="dev-profiles">
      {
        Object.entries(code.icons).map(([key, icon]) => (
          <Icons8 iconName={icon.icon} link={icon.profile} site={key} />
        ))
      }
    </div>
  </section>
  <section class="hrule"></section>
  <section class="skills-categories">
    <div class="categories-list">
      {domains.map((dm) => <SkillDomain {...dm} />)}
    </div>
  </section>
  <section class="certifications"></section>
</main>
