@import "$styles/full-settings";
@import "$styles/settings";
@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "foundation-sites/scss/components/progress-bar";
@import "foundation-sites/scss/components/label";
@import "$styles/base";

@include foundation-progress-bar;
@include foundation-label;

.dev-icons {
  @include xy-cell(12);
}
.devicons-grid {
  @include xy-grid;
  @include xy-grid-layout(12, $selector: "a");
  > a {
    @include xy-cell(1);
  }
}

.skills-intro {
  @include xy-cell(4);
}
.label {
  display: block;
}
.meter {
  height: 12px;
}
.skills-categories {
  @include xy-cell(8);
}
.categories-list {
  @include xy-grid;
  @include xy-grid-layout(4, $selector: ".domain-card");
  > .domain-card {
    @include xy-cell(6);
    background-color: rgba($color: black, $alpha: 0.1);
    h4 {
      text-align: center;
    }
  }
}
.domain-icons {
  @include xy-grid;
  @include xy-grid-layout(4, $selector: "a");
  > a {
    @include xy-cell(2);
  }
}
