---
import HorizontalRule from "../Html/HorizontalRule.astro";
import IconResolver from "../Html/IconResolver.astro";
import Certification from "./Certification.astro";
import SkillDomain from "./SkillDomain.astro";

import icons from "@icons/hyper.yml";
import devY from "./dev.yml";
import { L, type Developer } from "./Developer";
const dev = L(devY as Developer);

import "./expertise.tw.css";
---

<main class="code view">
  <section class="exp-intro">
    <h1>Skills and Experience</h1>
    <p>
      An overview of my software development skills. My development portfolio
      has code samples.
    </p>
    <div class="dev-profiles">
      {dev.profiles.map((p) => <IconResolver {...icons[p]} />)}
    </div>
  </section>
  <HorizontalRule />
  <section class="technologies">
    <h2>Technologies</h2>
    <article>
      {dev.skills.map(([t, s]) => <SkillDomain title={t} skills={s} />)}
    </article>
  </section>
  <HorizontalRule />
  <Certification />
</main>
