---
import SkillDomain from "./SkillDomain.astro";
import Icons8 from "../../icons/icons8/Icons8.astro";
import HorizontalRule from "../Html/HorizontalRule.astro";
import Certification from "./Certification.astro";
import type { HyperIcon as H } from "../../library/hyper-icon.ts";

import "./expertise.scss";
import icy from "../../icons/hyper.yml";
const icons = icy as Record<string, H>;
import dpy from "./dev-profiles.yml";
const profiles = dpy as string[];
import dsy from "./dev-skills.yml";
const domains = dsy as Record<string, string[]>;
---

<main class="code view">
  <section class="skills-intro">
    <h4>Skills and Experience</h4>
    <p>
      An overview of my software development skills. My development portfolio
      has code samples.
    </p>
    <div class="dev-profiles">
      {
        profiles.map((p) => (
          <Icons8
            iconName={icons[p].icon.split("::")[1]}
            link={icons[p].url}
            site={icons[p].name}
          />
        ))
      }
    </div>
  </section>
  <HorizontalRule />
  <section class="skills-categories">
    {
      Object.entries(domains).map(
        ([title, skills]) =>
          !title.startsWith("_") && (
            <SkillDomain title={title} skills={skills} />
          )
      )
    }
  </section>
  <HorizontalRule />
  <Certification />
</main>
