@import "$styles/full-settings";
@import "$styles/settings";
@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "foundation-sites/scss/components/progress-bar";
@import "foundation-sites/scss/components/label";
@import "$styles/base";

@include foundation-progress-bar;
@include foundation-label;

.skills-intro {
  @include xy-cell;
  text-align: center;
  padding: 15px 0;
}
.skills-categories {
  @include xy-cell;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.domain-card {
  width: calc(100% / 3 - 2rem);
  background-color: rgba($color: black, $alpha: 0.4);
  border-radius: 1rem;
  h4 {
    text-align: center;
  }
}
.domain-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
$max-badges: 3;
.skill-badge {
  width: calc(100% / $max-badges);
  display: grid;
  grid-template-columns: 1fr 2fr;
  > .icons8-icon {
    grid-area: 1 / 1 / 2 / 2;
    text-align: right;
  }
  img {
    height: 1em;
    margin-right: 5px;
  }
  .skill-name {
    grid-area: 1 / 2 / 2 / 3;
    color: white;
  }
  // justify-content: center;
  // display: flex;
  // align-items: center;
  // img {
  //   height: 1em;
  //   margin-right: 5px;
  // }
  // .skill-name {
  //   font-size: 1em;
  //   color: white;
  // }
}
