---
import SkillDomain from "./SkillDomain.astro";
import HorizontalRule from "../Html/HorizontalRule.astro";
import Certification from "./Certification.astro";
import IconResolver from "../Html/IconResolver.astro";

import icons from "@icons/hyper.yml";
import dpy from "./dev-profiles.yml";
const profiles = dpy as string[];
import dsy from "./dev-skills.yml";
const skillTypes = Object.entries(dsy as Record<string, string[]>).filter(
  ([t, _]) => !t.startsWith("_")
);

import "./expertise.tw.css";
---

<main class="code view">
  <section class="skills-intro">
    <h4>Skills and Experience</h4>
    <p>
      An overview of my software development skills. My development portfolio
      has code samples.
    </p>
    <div class="dev-profiles">
      {profiles.map((p) => <IconResolver {...icons[p]} />)}
    </div>
  </section>
  <HorizontalRule />
  <section class="skills-categories">
    {skillTypes.map(([t, s]) => <SkillDomain title={t} skills={s} />)}
  </section>
  <HorizontalRule />
  <Certification />
</main>
