---
import "./expertise.scss";
import "$styles/webicons.scss";

import IconPane from "../Shared/IconPane.astro";
import SkillDomain from "./SkillDomain.astro";

import code from "./code.json";
import domains from "./dev-skills.json";
---

<main class="code view">
  <!-- <section class="dev-icons">
    <div class="devicons-grid">
      <Devicon iconName="csharp/csharp-original" />
      <Devicon iconName="git/git-original" />
      <Devicon iconName="javascript/javascript-original" />
      <Devicon iconName="github/github-original-wordmark" />
      <Devicon iconName="codepen/codepen-original" />
      <Devicon iconName="bitbucket/bitbucket-original-wordmark" />
      <Devicon iconName="gitlab/gitlab-original-wordmark" />
    </div>
  </section> -->
  <section class="skills-intro">
    <h4>Skills and Experience</h4>
    <p>
      Here is an overview of my development and coding skills. Have a look at my
      GitHub profile for some code samples.
    </p>
    <IconPane itemtype={code.id} items={code.icons} />
  </section>
  <section class="skills-categories">
    <div class="categories-list">
      {domains.map((dm) => <SkillDomain {...dm} />)}
    </div>
  </section>
</main>
