---
import IconResolver from "../Html/IconResolver.astro";
import icons from "@icons/hyper.yml";

interface Props {
  title: string;
  skills: string[];
}
const { title, skills } = Astro.props;
const displaySkills = skills
  .filter((s) => !s.startsWith("_"))
  .map((s) => icons[s]);
---

<div class="domain-card">
  <h2>{title}</h2>
  <div class="domain-icons">
    {
      displaySkills.map(({ name, url, icon }) => (
        <span class="skill-badge">
          <IconResolver {...{ name, url, icon }} />
          <a href={url} class="skill-name">
            {name}
          </a>
        </span>
      ))
    }
  </div>
</div>
