---
import Devicon from "../../icons/devicons/Devicon.astro";

import techStack from "./tech-stack.json";
import "./colophon.scss";
---

<main class="credits view">
  <section class="tech-stack">
    <h4>Tech Stack</h4>
    <p>
      This website is creafted using <a href="https://astro.build">Astro</a> and
      <a href="https://get.foundation">Foundation</a>, with advantage of
      <a href="https://typescriptlang.org">TypeScript</a>
      and <a href="https://sass-lang.com">SASS</a>.<br />
      It is hosted using
      <a href="http://pages.github.com">GitHub Pages</a> and routed using
      <a href="https://dash.cloudflare.com">Cloudflare</a>.
    </p>
    <div class="icons">
      {
        techStack.map((tech) => (
          <Devicon iconName={tech.icon} link={tech.url} />
        ))
      }
    </div>
  </section>
  <section class="imprint">
    <!-- Typography, Design Palette and Logo -->
  </section>
</main>
