@import "foundation-sites/scss/global";
@import "$styles/base";

.tech-stack {
  @include c(8, 2);
  text-align: center;
  > .icons {
    display: grid;
    grid: 1fr / repeat(12, 1fr);
    gap: 1.5rem;
  }
}
.imprint {
  @include c;
}
.previous {
  @include c;
  text-align: center;
}
