@use "$styles/base" as *;

.credits {
  @include flex-column-evenly;
}
.tech-stack {
  @include flex-column-center;
  align-items: center;
  padding: 1rem;
}
.icons {
  @include flex-wrap-center;
  gap: 1.5rem;
  > * {
    flex-basis: 50px;
    width: 50px;
  }
}
.previous {
  text-align: center;
  padding: 1rem;
}
