@import "$styles/base";

.credits {
  @include flex-column-evenly;
}
.tech-stack {
  @include flex-column-center;
  align-items: center;
}
.icons {
  display: grid;
  grid: 1fr / repeat(12, 1fr);
  gap: 1.5rem;
  img {
    width: 50px;
  }
}
.previous {
  text-align: center;
}
