---
import App from "../layouts/App.astro";

import "../assets/styles/blog.scss";
import "../assets/styles/webicons.scss";
---

<App title="Margin: Auto">
  <main class="blog view">
    <div class="margin-auto callout">
      <h2>Margin: Auto</h2>
      <h3>Imaginary Stochastic Thoughts</h3>
      <p>Coming Soon</p>
    </div>
  </main>
</App>
