@import "$styles/base";

.about {
  @include flex-column-evenly;
  align-items: center;
}
$category-basis: 520px;
.about-intro {
  max-width: 1100px;
  text-align: center;
}
.portfolio-categories {
  @include flex-wrap-center;
  gap: 1rem;
  max-width: 1100px;
  > * {
    flex-basis: $category-basis;
  }
}
.interest-card {
  @include card-z;
  padding: 1rem;
  h4 {
    text-align: center;
  }
  p {
    padding: 0 1rem;
  }
}
.interest-icons {
  @include flex-wrap-center;
  > a {
    width: calc(100% / 6);
    text-align: center;
  }
}
