@import "foundation-sites/scss/global";
@import "$styles/base";

.about-intro {
  @include c(8, 2);
  text-align: center;
}
.portfolio-categories {
  @include c(8, 2);
}
.categories-list {
  @include flex-wrap-center;
  gap: 1rem;
}
.interest-card {
  @include card-z;
  width: calc(100% / 2 - 2rem);
  padding: 1rem;
  h4 {
    text-align: center;
  }
  p {
    padding: 0 1rem;
  }
}
.interest-icons {
  @include flex-wrap-center;
  > a {
    width: calc(100% / 6);
    text-align: center;
  }
}
