---
import Interest from "./Interest.astro";
import "./about.scss";
import interests from "./interests.json";
---

<main class="about view">
  <section class="about-intro">
    <h4>About Me</h4>
    <p>
      I am a versatile creator thriving at the intersection of technology, art and community.
      I like to innovate through software architecture, interaction design and visual storytelling.
      My approach is rooted in systems thinking, drawing connections across multiple disciplines.
    </p>
  </section>
  <section class="hrule"></section>
  <section class="portfolio-categories">
    <div class="categories-list">
      {interests.map((int) => int.enabled && <Interest {...int} />)}
    </div>
  </section>
</main>
