@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.about-intro {
  @include xy-cell(6);
  @include xy-cell-offset(3);
  text-align: center;
}
.portfolio-categories {
  @include xy-cell;
}
.categories-list {
  @include flex-wrap-center;
  gap: 1rem;
}
.interest-card {
  width: calc(100% / 3 - 2rem);
  background-color: rgba($color: black, $alpha: 0.4);
  border-radius: 1rem;
  h4 {
    text-align: center;
  }
  p {
    padding: 0 1rem;
  }
}
.interest-icons {
  @include flex-wrap-center;
  > a {
    width: calc(100% / 6);
  }
}
