---
import IconResolver from "../Html/IconResolver.astro";
import type { Interest } from "./Interest";

import iconsY from "@icons/hyper.yml";

interface Props extends Interest {}
const { title, excerpt, icons } = Astro.props;
---

<article class="interest-card">
  <h4>{title}</h4>
  <p>{excerpt}</p>
  <div class="interest-icons">
    {icons.map((ic) => <IconResolver {...iconsY[ic]} />)}
  </div>
</article>
