---
const currentYear = new Date().getFullYear();
const currentDate = new Date().toISOString().slice(0, 10);
---

<footer>
  <b>&copy; 2013-{currentYear}</b> Crafted by
  <b> Abhra Basak</b>. Updated <b>{currentDate}</b>.<br />
  Icons by <a href="https://icons8.com" target="_blank">Icons8</a>.
</footer>
