---
import IconResolver from "../Html/IconResolver.astro";

import icons from "../../icons/hyper.yml";
import cy from "../../data/contacts.yml";
const contacts = cy as string[];

const { classnames } = Astro.props;
---

<div class={classnames}>
  {contacts.map((c) => <IconResolver {...icons[c]} />)}
</div>
