@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.projects-intro {
  @include xy-cell(3);
}
.project-articles {
  @include xy-cell(9);
  margin-top: 10px;
}
.project-card {
  @include xy-cell(8);
  margin-bottom: 10px;
  background-color: rgba($color: black, $alpha: 0.2);
  .project-grid {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .icons8-icon {
    grid-area: 1 / 1 / 6 / 2;
  }
  .project-url {
    grid-area: 1 / 2 / 2 / 4;
    font-weight: bold;
  }
  .synopsis {
    grid-area: 2 / 2 / 4 / 4;
  }
  .tech {
    grid-area: 4 / 2 / 5 / 3;
  }
  .year {
    grid-area: 4 / 3 / 5 / 4;
  }
}
