---
import ProjectCard, { type Project } from "./ProjectCard.astro";
import projects from "./projects.json";
import "./projects.scss";
---

<main class="projects view">
  <section class="projects-intro">
    <h4>Projects</h4>
    <p>
      A list of stuff I've worked on and contributed to till date. I personally
      attempt to use a different set of technologies for each individual
      project. Each new project presents the opportunity to push limits
      creatively and technically.
    </p>
  </section>
  <section class="project-articles">
    {
      Object.entries(projects).map(
        ([_, p]) => p.enabled && <ProjectCard {...p} />
      )
    }
  </section>
</main>
