---
const { iconName, link, site } = Astro.props;
const iconSrc = `https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/${iconName}.svg`;
---

<a class="devicons-icon" href={link}>
  <img src={iconSrc} alt={site} />
</a>
