---
import "./blog.scss";
import "$styles/webicons.scss";
---

<main class="blog view">
  <div class="margin-auto callout">
    <h2>Margin: Auto</h2>
    <h3>Imaginary Stochastic Thoughts</h3>
    <p>Coming Soon</p>
  </div>
</main>
