---
import "./blog.tw.css";
---

<main class="blog view">
  <section class="margin-auto">
    <h1>Margin: Auto</h1>
    <h2>Imaginary Stochastic Thoughts</h2>
    <p>Coming Soon</p>
  </section>
</main>
