---
import TopNavToggle from "./navigation/TopNavToggle.astro";
import { left as pagesLeft, right as pagesRight } from "../data/pages.json";
---

<header>
  <!-- <TopNavToggle menuId="site-header-menu" /> -->
  <nav class="top-bar" id="site-header-menu">
    <section class="top-bar-left">
      <ul class="menu">
        <li class="menu-text" id="site-nav-title">ABHRA BASAK</li>
        {
          Object.entries(pagesLeft).map(([page, url]) => (
            <li>
              <a href={url}>{page}</a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="top-bar-right">
      <ul class="menu">
        {
          Object.entries(pagesRight).map(([page, url]) => (
            <li>
              <a href={url}>{page}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </nav>
</header>
