---
import Social from "../Shared/Social.astro";
import ContactForm from "./ContactForm.astro";
import Services from "./Services.astro";

import "./connect.scss";
---

<main class="connect view">
  <Services />
  <ContactForm />
  <Social classnames="social-icons" />
</main>
