---
import Email from "../Email.astro";
import Social from "../Shared/Social.astro";
import Services from "./Services.astro";

import "./connect.scss";
import "$styles/webicons.scss";
---

<main class="connect view">
  <Services />
  <Email />
  <Social classnames="social-icons" />
</main>
