@import "foundation-sites/scss/global";
@import "$styles/base";

.connect-services {
  @include c(6, 3);
  > h4 {
    text-align: center;
  }
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  > span {
    width: calc(100% / 3 - 2rem);
    border: 0.25px solid purple;
    border-radius: 1rem;
    text-align: center;
  }
}
.social-icons {
  @include c(6, 3);
  text-align: center;
}
.email {
  @include xy-cell(1, $gutter-type: none);
  @include xy-cell-offset(5.5);
  text-align: center;
}
