@import "$styles/base";

.connect {
  @include flex-column-evenly;
}
.connect-services {
  @include flex-column-align-center;
}
.services {
  @include flex-wrap-center;
  gap: 1rem;
  max-width: 810px; // TODO: @media
  > span {
    @include theme-outline;
    width: calc(100% / 3 - 2rem);
    border-radius: 1rem;
    text-align: center;
  }
}
.social-icons {
  text-align: center;
}
.email {
  display: flex;
  justify-content: center;
  > a {
    max-width: 140px; // TODO: @media
  }
}
