---
const formSubmitUrl = "/api/hello";
---

<section class="contact-form">
  <form action={formSubmitUrl} method="post">
  <h1>Contact Me</h1>
    <div class="contact-address">
      <label for="name"> Name </label>
      <label for="email"> Email </label>
      <input type="text" name="name" required />
      <input type="email" name="email" required />
    </div>
    <div class="contact-message">
      <label for="subject"> Subject </label>
      <input type="text" name="subject" required />
      <label for="message"> Message </label>
      <textarea name="message" rows="5" required></textarea>
    </div>
    <input type="checkbox" name="botcheck" style="display: none;" />
    <button type="submit">Send</button>
  </form>
</section>

<script src="./contact-form.ts"></script>
