---
const i = 1;
---

<section class="connect-services">
  <h1>Collaboration Opportunities</h1>
  <div class="services">
    <span>Web App Development</span>
    <span>iOS App Development</span>
    <span>Coaching & Mentoring</span>
    <span>Technical Consultancy</span>
    <span>Open Source Collaboration</span>
  </div>
</section>
