@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.tech-stack {
  @include xy-cell(8);
  @include xy-cell-offset(2);
  text-align: center;
  > .icons {
    display: grid;
    grid: 1fr / repeat(12, 1fr);
    gap: 1.5rem;
  }
}
.imprint{
  @include xy-cell;
}
