@import "foundation-sites/scss/global";
@import "foundation-sites/scss/xy-grid/xy-grid";
@import "$styles/base";

.tech-stack {
  @include xy-cell(8);
  @include xy-cell-offset(2);
  text-align: center;
  > .icons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
  }
}
.imprint{
  @include xy-cell;
}
